@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.navbar {
  background-color: #252525;
  width: 100%;
  height: 25em;
}
.navbar h1 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 5em;
  font-family: "Poppins", sans-serif;
}

.footer {
  margin-top: 30rem;
  background-color: #252525;
  width: 100%;
  height: 10em;
}

.cop {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.navbar_items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.liste {
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

a:hover,
a:focus,
a:active {
  color: #ff1548;
}

.container {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 49em;
  width: 300px;
  height: 100px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #dc143c;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.about h2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: #dc143c;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}
.about h2 p {
  margin-top: 2rem;
  display: flex;
  text-align: justify;
  line-height: 1.5em;
  color: #252525;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.presta h2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: #dc143c;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}

.contact h2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  color: #dc143c;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
