.form_wrapper {
  margin-bottom: 15px;
  display: flex;
  align-content: center;
}

.form_input input[type="text"] {
  width: 250px;
  padding: 12px 20px;
  border: 1px solid #ccc;

  textarea {
    width: 250px;
    padding: 12px 20px;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;
  }
}
