.navbar_items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.liste {
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

a:hover,
a:focus,
a:active {
  color: rgb(255, 21, 72);
}
