.navbar_items ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  ul li {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
}

a:hover,
a:focus,
a:active {
  color: tomato;
}
